.newStatus {
  position: absolute;
  height: auto;
  width: 30vw;
  top: 3%;
  right: 2%;
  border: 0.1em solid rgb(182, 180, 199);
  border-radius: 0.3em;
  background-color: rgb(33, 54, 173);
  font-size: calc(1vw + 0.3em);
  text-align: justify;
  color: rgb(255, 255, 255);
  font-family: serif;
  padding: 0 0.5em;
}
.status {
  position: absolute;
  height: auto;
  top: 3%;
  right: 2%;
  border: 0.1em solid rgb(182, 180, 199);
  border-radius: 0.3em;
  background-color: rgb(33, 54, 173);
}
.status > span {
  font-size: calc(1vw + 0.3em);
  text-align: justify;
  color: rgb(255, 255, 255);
  font-family: serif;
  padding: 0 0.5em;
}
